*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "montserrat", sans-serif;
  }
  
  .App{
    background-color: black;
    width: 100%;
    height: 100vh;
    background-size: cover;
  }
  
  .weathercard {
      padding: 2rem;
      width: 410px;
      height: 100vh;
      justify-content: center;
      margin: auto;
      border-radius: 20px;
      text-align: center;
      align-items: center;
      background-image: url(./images/back.jpg);
      background-repeat: no-repeat, repeat;
      background-position: center; 
      background-size: cover;
      box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.9);
    }
  
   img {
     margin: 0 auto;
   }

   .main {
       color:white;
   }
  
   .title {
     
     color: white;
     font-size: 32px;
     text-shadow: 2px 2px 2px rgb(150, 150, 155);
   }
  
   .temp {
     position: relative;
     margin-top:4rem;
     height: 15vh;
     margin: 30px auto;
     background-color: rgba(255, 255, 255, 0.1);
     border-radius: 16px;
     
     color: #fff;
  
     font-size:5rem;
     font-weight: 500;
     text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
     text-align: center;
     align-items: center;
     justify-content: center;
     box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
   }
  
  .city {
    color: white;
    font-size: 40px;
  }
  
   .country {
     color: white;
     font-size: 20px;
   }
  
   button {
     margin-top: 2rem;
     background-color: #6c967f;
     border-radius: 20px;
     padding: 10px;
     color: white;
     border: none;
   }
  
   .humidity {
     color: lightblue;
     font-weight: 20px;
   }
  
   .speed {
     color: lightblue;
     font-weight: 20pxS;
   }
  
   @media (max-width: 800px){
      .temp{
        font-size:4.5rem;
        height: 15vh;
      }
   }
   @media (max-width: 540px){
    .temp{
      font-size:3rem;
      
    }
  }